# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore SCons related files
.sconsign.dblite

# Ignore OS X related files
.DS_Store

# Ignore executables
extpage
